/* Variable declarations */
:root {
    --primary-color: rgb(33, 52, 84); 
    --primary-color-semitransparent: rgb(33, 52, 84, .8);
    --secondary-color: rgb(145, 177, 198);
    --accent1-color: rgb(185, 102, 11);
    --accent2-color: rgb(26, 111, 179);
    --max-screen-width: 1024px;
    --header-font-family: "Noto Sans Display", serif;
    --header-font-weight: 700;
    --body-font-family: "Poppins", serif;
    --body-font-weight: 400;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 100%;
}

textarea {
    resize: none;
}

body {
    margin: 0 auto; 
    max-width: var(--max-screen-width);
    background-color: rgb(240, 240, 240);
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-style: normal; 
}

h1, 
h2 {
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    font-style: normal;
    font-variation-settings: "wdth" 62.5;
}

h1 {
    font-size: 48px;
    color: var(--accent2-color);
    margin-left: 5%;
    text-align: center;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 1rem;
    width: 90%;
    background-color: rgb(250, 250, 250);
}

h2 {
    font-size: 32px;
    color: var(--accent1-color);
}

p {
    color: var(--primary-color);

}

header {
    max-width: var(--max-screen-width);
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
    padding: 20px;
    margin: 10px 0;
    background-color: var(--accent2-color);
}

header img {
    border: 1px solid var(--primary-color);
    width: 150px;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
    text-align: center;
}

nav a {
    flex: 1;
    min-width: 170px;
    display: block;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--primary-color);
    padding: 5px 40px; 
    text-decoration: none;
    font-size: 1.1rem;
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    font-style: normal;
}

main {
    max-width: var(--max-screen-width);
}

section {
    display: grid;
    grid-template-columns: repeat(5, auto-fill, minmax(100px, 1fr));
    grid-gap: 15px;
    place-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(255, 255, 255);
}

section h2 {
    grid-column: 1 / 6;
    text-align: center;
    margin-bottom: 5px;
}

section p {
    grid-column: span 2;
}

section img {
    border: 1px solid var(--secondary-color);
    padding: 1px;    
}

iframe {
    border: none; 
    border-radius: 13px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

figcaption {
    grid-column: 1;
    text-align: center;
    font-size: .8rem;
}

form {
    width: 700px;
    background-color: rgb(250, 250, 250);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 13px;
}

input,
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
}

input:focus,
textarea:focus {
    background-color: rgb(235, 233, 233);
}

fieldset {
    display: grid;
    border: none;
}

fieldset div {
    margin-left: 10px;
}

label, 
legend {
    font-size: .9rem;
}

button[type="submit"] {
    grid-column: 1;
    width: 200px;
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    font-size: 1.4rem;
    margin: 15px auto;
    padding: 15px;
    border: 2px outset var(--primary-color);
    border-radius: 1rem;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
}

button[type="submit"]:hover {
    color: rgb(255, 255, 255);
    background-color: var(--primary-color);
}

button[type="submit"]:active {
    border: 3px inset var(--primary-color);
}

footer {
    background-color: var(--accent2-color);
    margin: 10px 0;
    padding: 5px;
    display: grid;
    grid-template-columns: 20fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    margin-top: 5px;
}

/* Facebook */
footer a:nth-of-type(1) {
    grid-area: 1 / 2 / 1 / 3;
}

/* Instagram */
footer a:nth-of-type(2) {
    grid-area: 1 / 3 / 1 / 4;
}
 
/* Reddit */
footer a:nth-of-type(3) {
    grid-area: 1 / 4 / 1 / 5;
}

/* Bonus left-side link */
footer a:nth-of-type(4) {
    grid-area: 1 / 1 / 2 / 2;
    color: rgb(255, 255, 255);
}

footer p {
    color: rgb(255, 255, 255);
    grid-area: 1 / 1 / 1 / 5 ;
    justify-self: center;
}

/* Class-based styles */
.hero {
    width: 100%;
    position: relative;
}

.hero h1 {
    position: absolute; 
    top: 50px;
    padding: 5px 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 100px;
    width: 70%;
    background-color: var(--primary-color-semitransparent);
    margin-top: 100px;
    margin-left: 15%;
    padding: 15px;
}

.hero article img {
    width: 125px;
    float: right;
    margin-left: 20px;
}

.hero article p {
    color: rgb(255, 255, 255);
}

/* Contact page styles */
#contact-info h1 {
    grid-column: 1 / 5;
}

#contact-info div:first-of-type {
    grid-column: 1 / 4;
}

#contact-info div:last-of-type {
    grid-column: 4 / 5;
}

#contact-info article {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 1rem;
    background-color: rgb(250, 250, 250);
    justify-content: left;
    min-width: 500px;
    margin: 5px 0 5px 20px;
    display: grid;
    padding: 10px;
}

#employee-profiles {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.icon-container {
    width: 58px;
    height: 48px;
    background-color: rgb(240, 240, 240) ;
    border-radius: 12px;
    display: grid;
    place-items: center;
}

.icon-container img {
    border: none;
}

.content {
    margin-left: 20px;
    color: var(--primary-color);
}

.accent {
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
}

.accent a {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

.form-item {
    grid-column: 1;
    display: grid;
    margin: 5px 20px;
}


