:root {
    --small-margin-or-padding: 2px;
    --medium-margin-or-padding: 10px;
    --large-margin-or-padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: var(--medium-margin-or-padding);
}
nav a {
    color: white;
    display: block;
    padding: var(--large-margin-or-padding);
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--small-margin-or-padding);
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 400px;
    margin: 10px;
    position: relative;
}

aside h2 {
    position: absolute;
    left: 45px;
    top: 110px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: var(--large-margin-or-padding);
    border-top: var(--small-margin-or-padding) groove rgba(23, 55, 138, 0.527);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    background-color: rgb(0 0 190/ .8);
    color: white;
    border: 5px groove rgb(0 0 0 / .7);
}